.button {
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 12px;
  width: 100%;
  padding: 4px 6px;
  text-align: left;
  color:white;
  background:rgb(21, 21, 21);
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 12px;
  transition: 0.2s;
  border: 2px solid var(--theme-color);
  span {
    color: var(--theme-color);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    svg{
      fill:var(--primary);
    }
  }
}

.button:hover {
  border: 2px solid var(--primary);
  color:var(--black) ;
  background: var(--hover-color);
}
.settings{
  cursor: pointer;
  margin-bottom: 12px;
  width: 100%;
  flex:1;
  padding: 4px 6px;
  text-align: left;
  background: rgb(21, 21, 21);
  display: flex;
  align-items: center;
  color:white;
  font-size: 1rem;
  border-radius: 12px;
  transition: 0.2s;
  border: 2px solid rgb(21, 21, 21);
  span {
    color: var(--theme-color);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    svg{
      fill:var(--primary);
    }
  }
}
.settings:hover {
  border: 2px solid var(--primary);
  background: var(--hover-color);
  color:var(--black) ;
}