@import "./window.scss";

.settings {
  padding: 58px 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}

.settings-title {
  font-size: 14px;
  font-weight: bolder;
}

.settings-sub-title {
  font-size: 12px;
  font-weight: normal;
}

.avatar {
  cursor: pointer;
}

.password-input-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}
.gptModel{
  align-self: flex-end;
  color:var(--black);
  span{
    margin-right: 8px;
  }
}
.Telegram{
  width:64px;
  height:64px;
  align-self: flex-end;
  background: white;
  border: 1px solid var(--primary);
  outline:none;
  border-radius: 12px;

  svg{
    width:80%;
    height: auto;
    path:first-child{
      fill:var(--icon);
    }
    path:last-child{
      fill:var(--icon-bg);
    }
  }
}